<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lectures" href="/tabs/lectures">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>Лекции</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exams" href="/tabs/exams">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Изпити</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marks" href="/tabs/marks">
      <ion-icon aria-hidden="true" name="checkmark-outline"></ion-icon>
      <ion-label>Оценки</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Настройки</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
